.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 16px;

    .btn-group {
        float: right;

        .btn-item {
            margin-right: 10px;
        }
    }
}