.btn-float-add {
    position: absolute;
    top: auto;
    right: 15px;
    bottom: 15px;
    left: auto;
    z-index: 1;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 16px;

    .btn-group {
        float: right;

        .btn-item {
            margin-right: 10px;
        }
    }
}