@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Кафедра ММФ - Администрация</title>
    <link rel="icon" type="image/png" href="~/images/favicon.ico">

    @if (env.EnvironmentName == "Production")
    {
        <link href="~/dist/main.css" rel="stylesheet" />
    }
</head>
<body>
    <div id="root"></div>

    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/app.bundle.js"></script>
</body>
</html>
