@import 'variables.scss';

.layout {
    margin-left: $sidebar-width;
    height: 100%;
    background-color: #EBE8E8;
    transition: margin-left 0.4s ease;

    &.expanded {
        margin-left: $sidebar-width-min;
    }

    .layout-content {
        margin: 30px;
        min-height: 100%;
    }
}