@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    font-family: Roboto, Helvetica, Arial,sans-serif;
    background-color: #EBE8E8;
}

%no-underline {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

.list-form-container {
    display: flex;
    justify-content: space-between;

    .flex-grow-1 {
        flex-grow: 1;
        align-self: flex-start;
    }
}

.centered {
    text-align: center !important;
}