%no-underline {
    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

.list-form-container {
    display: flex;
    justify-content: space-between;

    .flex-grow-1 {
        flex-grow: 1;
        align-self: flex-start;
    }
}

.centered {
    text-align: center !important;
}