@import 'variables.scss';
@import 'shared.scss';

.sidebar {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: $sidebar-width;
    overflow: auto;
    background-color: $blue-dark;
    transition: width 0.4s ease;

    .sidebar-control {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        padding-right: 10px;
    }

    .logo-container {
        text-align: center;
        padding-bottom: 30px;
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;

        .nav-item {
            text-align: center;

            %nav-link {
                @extend %no-underline;
                display: block;
                color: white;
                width: 100%;
                padding: 15px 0;
                font-size: 16px;
            }

            .nav-link {
                @extend %nav-link;

                &:hover {
                    background-color: #A3AABE;
                }
            }

            .nav-link-active {
                @extend %nav-link;
                background-color: $blue-light;
            }
        }
    }

    &.minified {
        width: $sidebar-width-min;
        overflow: hidden;

        .logo-container, .nav-list {
            visibility: hidden;
        }
    }
}
