/*colors*/
$blue-dark: #0a1944;
$blue-light: rgba(118, 132, 172, 0.5);
/*colors end*/

/*sidebar*/
$sidebar-width: 250px;
$sidebar-width-min: 50px;
/*sidebar end*/

/*header*/
$header-height: 65px;
/*header end*/