<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>

    <link href="~/dist/vendor.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script src="~/dist/vendor.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
